*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(245, 239, 239);
 }
 nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    background-repeat: no-repeat;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    transition: all 0.5s ease;
    
}
nav ul li a:hover{
    
    font-size: 200%;
}
 .Grad{
    
    width: 50%;
    margin: left;
    padding: 10px 0;
    color: purple;
    font-size: 100%;
 }
 
 .Grad p{
    text-align: bottom;
    padding: 20px 0;
    color: blue;
    
    font-size: 150%;
    font-family: century;
 }
 .int {
    font-size: 100%;
    padding: 50px 0;
   
 }
 .int p{
    text-align: top;
     color: blue;
     padding: -50px 0;
    font-size: 200%;
    font-family: century;
 }
 
 